@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    margin: 0;
    background-color: rgb(253, 254, 255);
}

img {
    width: 30vw;
    height: 100vh;
    margin: 0;
}

.image-container {
    height: 100vh;
    width: 30vw;
    margin-bottom: 0;
    border: 0;
    padding: 0;
    font-family: 'Norse', sans-serif;

} 


.image-container div img {
    width: 100px;
    height: 100px;
}

.image-container div {
    display: flex;
    justify-content: center;
    background-color: rgba(15, 14, 14, 0.39);
    position: absolute;
    top : 200px;
    width:inherit;
    height: 100px;
    font-size: 6.25em;
    color: white;

    padding-top: 20px;
    padding-bottom: 20px;
}


.image-container p {
    width: inherit;
    color: white;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.image-container p a {
    color: white;
}

.image-container p a:hover {
    color: blue;
}

.form-section {

    width: 70vw;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.form-section h1 {
    /* padding: 20px; */
}

form {
    padding: 80px 0px;
    /* border-bottom: 2px solid rgba(15, 15, 15, 0.082); */
    background-color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(18, 18, 99);

 
}

.separator {
    border-bottom: 2px solid rgba(15, 15, 15, 0.082);
    margin-left: -50px;
    margin-right: -50px;
    padding-bottom: 80px;
    width: 70vw;
}

form button {
    background-color: #596D48;
    color: white;
    padding: 10px 50px;
    border-radius: 7px;
    border-style: none;
    font-size: large;
    font-weight: bold;
}

fieldset{
    display: flex;
    justify-content: flex-start;
    border: 0;
    gap: 50px;
    width: 80%;
}

label {
    display: block;
    font-size: small;
    font-weight: bold;
}

input {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    font-size: large;
}


input:focus {
    background-color: rgba(40, 156, 177, 0.753);
}


input:valid {
    background-color: #87c55044;
}

input[type="password"]:invalid {
    border-color: red;
}

.match {
    position: relative;
    top: 20px;
    color: red;
    height: fit-content;
}