@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    margin: 0;
    background-color: rgb(253, 254, 255);
}

img {
    width: 30vw;
    height: 100vh;
    margin: 0;
}

.image-container {
    height: 100%;
    margin-bottom: 0;
    border: 0;
    padding: 0;
    font-family: 'Norse', sans-serif;

} 


.image-container div img {
    width: 100px;
    height: 100px;
}

.image-container div {
    display: flex;
    justify-content: center;
    background-color: rgba(15, 14, 14, 0.39);
    position: absolute;
    top : 200px;
    width: 30vw;
    height: 100px;
    font-size: 100px;
    color: white;

    padding-top: 20px;
    padding-bottom: 20px;
}



.form-section {

    width: 70vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-section h1 {
    padding: 20px;
}

form {
    padding: 20px;
    border-bottom: 2px solid rgba(15, 15, 15, 0.082);
    background-color: white;

 
}

form button {
    background-color: #596D48;
    color: white;
    padding: 10px 50px;
    border-radius: 7px;
    border-style: none;
    font-size: large;
    font-weight: bold;
}

fieldset{
    display: flex;
    justify-content: space-evenly;
    border: 0;
}

label {
    display: block;
}

input {
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 5px;
    padding: 5px;
}